# Git LFS for large runtime files
*.onnx filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.ort filter=lfs diff=lfs merge=lfs -text
runtime/*.exe filter=lfs diff=lfs merge=lfs -text lockable
runtime/piper/*.dll filter=lfs diff=lfs merge=lfs -text
runtime/piper/*.exe filter=lfs diff=lfs merge=lfs -text
